a {
    color: white;
   
    text-decoration: none;

    
    display: inline-block;

    position: relative;
  }
  a:hover:after {
    width:100%;
    left: 0;
  }
  a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    right: 0;
    position: absolute;
    background: red;
    transition: width 0.75s ease 0s, right 0.75s ease 0s;
    width: 0;
  }